---
import Instagram from "../../components/Instagram.astro";
import Layout from "../../layouts/Layout.astro";

export async function getStaticPaths() {
  const data = await fetch(
    "https://nizfrlmeuslmzbvoilai.supabase.co/rest/v1/edytasorensen_data",
    {
      method: "GET",
      headers: {
        apikey:
          "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im5pemZybG1ldXNsbXpidm9pbGFpIiwicm9sZSI6ImFub24iLCJpYXQiOjE3MzMxNzM2MDAsImV4cCI6MjA0ODc0OTYwMH0.RQ3OCApyz7TpKmzgRC189LxU9mOzQLPHTIxEIIeFO2Y",
      },
    }
  ).then((response) => response.json());

  return data.map((kategori) => {
    return {
      params: { slug: kategori.slug },
      props: { myData: kategori },
    };
  });
}

const { myData } = Astro.props;
console.log(myData);
---

<Layout title={myData.name}>
  <div class="max-w-3xl mt-8 px-4 sm:px-6 md:px-8 lg:px-12">
    <h2 class="text-4xl font-playfair uppercase font-medium mb-8">
      {myData.name}
    </h2>
    <p class="max-w-lg text-sm font-oxygen font-light mb-16">
      {myData.information}
    </p>
  </div>

  <div>
    <!-- swipe galleri her -->

    <div class="relative mb-16">
      <div class="overflow-hidden">
        <!-- Billeder Wrapper -->
        <div
          id="galleryImages"
          class="flex transition-transform duration-300 ease-in-out"
        >
          <!-- Billede 1 -->
          <div class="w-1/3">
            <img
              src={`/images/${myData.imggrid1}`}
              alt={myData.slug}
              class="w-full h-auto object-cover"
            />
          </div>
          <!-- Billede 2 -->
          <div class="w-1/3">
            <img
              src={`/images/${myData.imggrid2}`}
              alt={myData.slug}
              class="w-full h-auto object-cover"
            />
          </div>
          <!-- Billede 3 -->
          <div class="w-1/3">
            <img
              src={`/images/${myData.imggrid3}`}
              alt={myData.slug}
              class="w-full h-auto object-cover"
            />
          </div>
        </div>
      </div>
  
      <!-- Venstre Pil -->
      <button
      id="prevBtn"
      class="absolute top-1/2 left-4 transform -translate-y-1/2"
    >
      <img src="/images/pilgallerileft.svg" alt="Previous" class="w-10 h-10" />
    </button>
  
      <!-- Højre Pil -->
      <button
      id="nextBtn"
      class="absolute top-1/2 right-4 transform -translate-y-1/2"
    >
      <img src="/images/pilgalleri.svg" alt="Next" class="w-8 h-8" />
    </button>

    
  </div>

  <div class="max-w-3xl mt-8 px-4 sm:px-6 md:px-8 lg:px-12 mb-16">
  <p class="max-w-lg text-sm font-oxygen font-light">{myData.storytelling}</p>
</div>

  <div class="py-8">
    <!-- Grid Container med 2 kolonner -->
    <div class="grid grid-cols-2 gap-1">
      <!-- Billede 1 -->
      <div>
        <img
          src=`/images/${myData.imggrid1}`
          alt={myData.slug}
          class="w-full h-auto object-cover"
        />
      </div>
      <!-- Billede 2 -->
      <div>
        <img
          src=`/images/${myData.imggrid2}`
          alt={myData.slug}
          class="w-full h-auto object-cover"
        />
      </div>
      <!-- Billede 3 -->
      <div>
        <img
          src=`/images/${myData.imggrid3}`
          alt={myData.slug}
          class="w-full h-auto object-cover"
        />
      </div>
      <!-- Billede 4 -->
      <div>
        <img
          src=`/images/${myData.imggrid4}`
          alt={myData.slug}
          class="w-full h-auto object-cover"
        />
      </div>
    </div>
  </div>

  <Instagram/>
</Layout>

<script>
   document.addEventListener('DOMContentLoaded', () => {
    const prevBtn = document.getElementById('prevBtn');
    const nextBtn = document.getElementById('nextBtn');
    const galleryImages = document.getElementById('galleryImages');

    let currentIndex = 0;
    const totalImages = 3; // Antal billeder i galleriet (ændr dette, hvis flere billeder)

    // Funktionslogik for venstre pil
    prevBtn.addEventListener('click', () => {
      if (currentIndex > 0) {
        currentIndex--;
        galleryImages.style.transform = `translateX(-${currentIndex * 33.3333}%)`;
      }
    });

    // Funktionslogik for højre pil
    nextBtn.addEventListener('click', () => {
      if (currentIndex < totalImages - 1) {
        currentIndex++;
        galleryImages.style.transform = `translateX(-${currentIndex * 33.3333}%)`;
      }
    });
  });
</script>